<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/part :: header1" />
<body style="font-family: serif;color: white; background-color: #002636;">
<div class="container" align="center" style="min-height: 450px;">    
<br>
<h3><i class='glyphicon glyphicon-book'></i> Edit Your Storage</h3>
    <hr style="background-color: #fff;"/>
    <div align="center" class="">
        <form th:action="@{edit}" method="post" style="width: 444px;">
        <img th:src="@{/image/c.jpg}" style="width:200px; height:200px;border-radius: 50%;">
        
        <input type="hidden" name="latitude" id="latId" th:value="${storage.latitude}">
        <input type="hidden" name="longitude" id="lonId" th:value="${storage.longitude}">
        <div style="margin-top: 20px">
	        <div class="alert alert-info" th:if="${msg}" th:utext="${msg}"></div>
        </div>
        <input type="hidden" name="id" th:value="${storage.id}" />
        <div class="form-group" style="text-align: left;">
        	<label>Storage Name</label>
            <input type="text" maxlength="15" class="form-control" required name="name" id="name" th:value="${storage.name}" placeholder="Name : "/>
        </div>
        <div class="form-group" style="text-align: left;">
        	<label>Total Capacity</label>
            <input type="number" class="form-control" required name="totalCapacity" id="totalcapacity" th:value="${storage.totalCapacity}" placeholder="Total Capacity : "/>
        </div>
        <div class="form-group" style="text-align: left;">
        	<label>Available Capacity</label>
            <input type="text" readonly class="form-control" required id="availableCapacity" th:value="${storage.availableCapacity}"/>
        </div>
        <div class="form-group" style="text-align: left;">
        	<label>Storage Location</label>
            <input type="text" maxlength="15" class="form-control" required name="location" id="location" placeholder="Location : " th:value="${storage.location}"/>
        </div>
            <div class="form-group">
                <a th:href="@{storages}" style="width: 138px;margin-right: 16px;" class="btn btn-danger"><i class='fa fa-step-backward'></i> Cancel</a>
                <a style="width: 138x;margin-right: 16px;" class="btn btn-success" onclick="getLocation()"><i class='fa fa-map-marker'></i> Save Position</a>
                <button style="width: 138px" type="submit" class="btn btn-primary" name="update"><i class='fa fa-fast-forward'></i> Save Changes</button>
            </div>
        </form>
    </div>
</div>
<br/>
<div th:replace="common/footer" ></div>	
<<div th:replace="common/part :: header5"></div>
</body>
<script>

    var latId = document.getElementById("latId");
    var lonId = document.getElementById("lonId");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        }
    }

    function showPosition(position) {
        var lat=position.coords.latitude;
        var lon=position.coords.longitude;

        latId.value=lat;
        lonId.value=lon;
    }

</script>
</html>