<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/part :: header1" />
<body class="sb-nav-fixed" style="font-family: serif;font-size: 14px;">
	<nav th:replace="common/part :: header2"></nav>
	<div id="layoutSidenav">
		<div th:replace="common/part :: header3"></div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					<br />
					<div style="margin-bottom: 10px;" class="alert alert-info"
						th:if="${msg}" th:utext="${msg}"></div>
					<table id="example"
						class="table table-bordered table-hover table-striped">
						<thead>
						<tr align="center">
							<th>ID</th>
							<th>Name</th>
							<th>Product</th>
							<th>Weight(ton)</th>
							<th>Cost</th>
							<th>Request Date</th>
							<th>Action</th>
							<th>Action</th>
							<th>Action</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="request : ${productRequestsList}">
							<td th:text="${request.product.storage.id}"></td>
							<td th:text="${request.product.storage.name}"></td>
							<td th:text="${request.product.name}"></td>
							<td>[[${request.capacity}]] Ton</td>
							<td>[[${request.capacity}*${request.product.price}]] TK</td>
							<td th:text="${request.date}"></td>
							<td><a
								th:href="@{storagecapacity(id=${request.product.storage.id})}"
								class="btn btn-outline-success"><i style="margin-right: 5px;" class="fa fa-line-chart"
						aria-hidden="true"></i>Storage Capacity</a></td>
							<td><a class="btn btn-outline-danger"
								th:href="@{rejectrequest(id=${request.id})}"><i style="margin-right: 5px;" class="fa fa-trash"
						aria-hidden="true"></i> Reject Request</a></td>
							<td><a class="btn btn-outline-info"
								th:href="@{acceptrequest(id=${request.id})}"><i style="margin-right: 5px;" class="fa fa-address-card"
						aria-hidden="true"></i> Accept Request</a></td>
						</tr>
						</tbody>
					</table>
					<br>
				</div>
			</main>
			<footer th:replace="common/part :: header4"></footer>
		</div>
	</div>
	<div th:replace="common/part :: header5"></div>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#example').DataTable();
		});
	</script>
</body>
</html>
