<section th:fragment="footer" id="footer" style="background: #002636;font-family: serif;font-size: 15px;color: #fff">
    <br/>
    <div class="container">
        <div class="row">
            <div
                class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p>
                     Warehouse Management System
                    
                </p>
                <p>
                    &copy Department of Computer Science and Engineering , Premier University
                </p>
            </div>
            <hr>
        </div>
    </div>
    <br/>
</section>